/*  direction arrows  */
.location h2, .location h3, .location h4 {
    font-weight: normal;
}
.writingList {
    list-style-type: none;
    overflow-y: scroll;
    overflow-x: break-word;
    max-height: 15em;
}
.writing {
    display: inline;
}
.writing:after {
    content: ' ';
}
.infoBox > div, .chatBox > div {
    text-align: left;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 12em;
}
